<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Studio Ghibli - Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img
            src="/images/log-studio-ghibli-hd-logo-white.png"
            alt="Studio Ghibli logo"
          />
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Studio Ghibli</h1>
      <p>
        Welcome to the magical world of Studio Ghibli! We are a Japanese
        animation film studio known for our visually stunning and emotionally
        resonant films. Explore our website to learn more about our films and
        the world of Studio Ghibli.
      </p>
    </main>
    <footer>
      <p>&copy; 2023 Studio Ghibli Tribute</p>
    </footer>
  </body>
</html>
